/*------------------------GRAINY BLUR EFFECT ON HOME-------------------- */

.grad-blur-home {
  position: absolute;
  z-index: -1;
  inset: auto 0 0 0;
  height: 40%;
  width: 60%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.grad-blur-home > div,
.grad-blur-home::before,
.grad-blur-home::after {
  position: absolute;
  inset: 0;
}

.grad-blur-home::before {
  content: "";
  z-index: 1;
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.grad-blur-home > div:nth-of-type(1) {
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.grad-blur-home > div:nth-of-type(2) {
  z-index: 3;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}

.grad-blur-home > div:nth-of-type(3) {
  z-index: 4;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.grad-blur-home > div:nth-of-type(4) {
  z-index: 5;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}

.grad-blur-home > div:nth-of-type(5) {
  z-index: 6;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.grad-blur-home > div:nth-of-type(6) {
  z-index: 7;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.grad-blur-home::after {
  content: "";
  z-index: 8;
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
  mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}

/*---------------------------HOME SECTION---------------------------*/

#home {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

/*---------------------------INTRO LAYOUT---------------------------*/

.intro {
  display: grid;
  grid-template-columns: auto 1px auto;
  column-gap: 80px;
  align-items: start;
  position: relative;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*---------------------------NAME WRAPPER---------------------------*/

.name-wrap {
  position: relative;
  padding-top: 135px;
}

/* Shadow Name */
.name {
  position: absolute;
  text-align: start;
  font-size: 70px;
  font-family: "Neulis Cursive", cursive;
  color: var(--text-primary);
}

/* Solid Name */
.name2 {
  position: relative;
  text-align: start;
  font-size: 70px;
  font-family: "Neulis Cursive";
  color: var(--text-primary);
}

.name2 h1,
.name h1 {
  margin: 0;
}

/* Blur Effect */
.vblur {
  filter: url(#blur);
  opacity: 0.7;
  pointer-events: none;
}

/*---------------------------DIVIDER---------------------------*/

.dividor {
  border: solid var(--border-primary) 0.6px;
  height: 100%;
  min-height: 400px;
}

/*---------------------------SELF INTRO---------------------------*/

.self-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 135px;
}

.pfp {
  width: 100px;
  height: 100px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
}

.greeting {
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: start;
  color: var(--text-primary);
}

.aboutme {
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: start;
  color: var(--text-secondary);
}

/*---------------------------STATUS SECTION---------------------------*/

.status {
  font-family: Manrope, sans-serif;
  display: flex;
  gap: 7rem;
  padding-top: 160px;
  line-height: 30px;
}

.status h3,
.status h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--text-primary);
}

.status h4 {
  color: var(--text-secondary);
  font-weight: 600;
}

/*---------------------------SOCIAL LINKS---------------------------*/

.links img {
  transition: transform 0.3s ease-out;
}

.links img:hover {
  transform: scale(1.09);
}
html[data-theme="dark"] .links {
  margin-top: 4px;
  background-color: var(--bg-quaternary);
  width:fit-content;
  padding-right: 4px;
  border-radius: 32px;
}

/* ======================ANIMATION======================== */

.homee .name-wrap,
.homee .curstatus,
.homee .prevstatus,
.homee .pfp,
.homee .greeting,
.homee .aboutme,
.homee .links > a {
  opacity: 0;
  transform: translateY(24px);
}

.homee .name-wrap {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.05s;
}

.homee .curstatus {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.15s;
}

.homee .prevstatus {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.25s;
}

.homee .pfp {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.35s;
}

.homee .greeting {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.45s;
}

.homee .aboutme {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.55s;
}

.homee .links > a:nth-child(1) {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.65s;
}

.homee .links > a:nth-child(2) {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.75s;
}

.homee .links > a:nth-child(3) {
  animation: skillFadeUp 0.6s ease forwards;
  animation-delay: 0.85s;
}

@keyframes skillFadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =============RESPONSIVE DESIGN================== */

@media (max-width: 768px) {
  .intro {
    grid-template-columns: 1fr;
    column-gap: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  .dividor {
    border-top-color: var(--border-primary);
    border-top-style: solid;
    border-top-width: 0.655738px;
    height: 0%;
    min-height: 0px;
    width: 90%;
    min-width: 200px;
    margin-top: 60px;
  }

  .status {
    padding-top: 60px;
    text-align: start;
  }

  .status h3,
  .status h4 {
    font-size: 20px;
  }

  .name,
  .name2 {
    font-size: 40px;
    padding: 16px;
    padding-left: 0;
    text-align: start;
  }

  .name-wrap {
    padding-top: 100px;
  }

  .name {
    top: 100px;
  }

  .self-intro {
    text-align: start;
    margin-top: 50px;
  }
}